@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(150deg, rgb(244, 255, 120),rgb(238, 255, 50), rgb(123, 255, 71),rgb(123, 255, 71));
  font-family: "Courier Prime", monospace;
}
.stopwatch {
  width: 90%;
  max-width: 600px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("1.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 40px 0;
  color: #fff;
  margin: 200px auto;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
.stopwatch h1 {
  margin-top: 4rem;
  font-size: 4rem;
  font-weight: 300;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons img {
  width: 3rem;
  margin: 0 20px;
  cursor: pointer;
}
.buttons img:nth-child(2) {
  width: 5rem;
}
